.modal_container {
  color: black;
  height: fit-content;
}

.modal_content h1 {
  text-align: center;
}

.modal_content label {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.modal_content select {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

.modal_content select::-ms-expand {
  display: none;
}

.modal_content select:hover {
  border-color: #888;
}

.modal_content select:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.modal_content select option {
  font-weight: normal;
}

.modal_content div {
  margin: 10px 0px;
}

.modal_content input {
  width: 100%;
  outline: none;
  padding: 0.6em 1.4em 0.5em 0.8em;
  color: #444;
  font-size: 16px;
  font-weight: 700;
}

.modal_content input[type="text"] {
  background-color: white;
  border: solid 1px var(--st-modal-backgroundColor);
  border-radius: 0.5em;
}

.modal_content input[type="text"]:focus {
  background-color: lightblue;
  border: solid 1px blue;
  border-radius: 0.5em;
}

.modal_button {
  width: 10em;
  height: 4em;
  padding: 0px;
  margin: 0px;

  --st-button-dangerColor: #ff5c5c;
  --st-button-dangerTextColor: #ffffff;

  --st-button-primaryColor: #5d9aff;
  --st-button-primaryTextColor: #ffffff;

  --st-button-lightColor: #f6f6f6;
  --st-button-lightTextColor: #444444;

  --st-button-darkColor: #444444;
  --st-button-darkTextColor: #f6f6f6;

  --st-button-borderRadius: 6px;
}

.modal_footer {
  align-items: center;
  justify-content: center;
}

.modal_footer button {
  margin: 0 10px;
}

:root {
  --st-overlay-color: rgba(0, 0, 0, 0.8);
  --st-overlay-z-index: 1000;
  --st-overlay-transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  --st-overlay-perspective: 1000px;
  --st-modal-borderRadius: 0px;
  --st-modal-boxShadow: 0 10px 50px rgba(0, 0, 0, 0.8);

  --st-modal-backgroundColor: #3c3c3c;
  --st-modal-secondColor: #575757;

  --st-dialog-contentColor: #ffffff;

  --st-modal-transformVisible: translate3d(-50%, -50%, 0) scale(1);
  --st-modal-transformHidden: translate3d(-50%, -50%, 0) scale(0.1);

  --st-button-primaryColor: #dddddd;
  --st-button-primaryTextColor: #000000;
}
