body {
  overflow: auto;
}

.app_footer {
  background: #444;
  color: white;
}

.orientation_warning {
  height: 100vh;
  background-color: #444;
}

.orientation_warning h1 {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.app_header {
  background: #444;
  color: white;
  height: 8rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border: 0;
}
