* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background: #6a83f5;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer div {
  background: #e61395;
}

.header {
  background: #444;
  color: #fff;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 0;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-center {
  background: #9c9c9c;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  text-align: center;
  padding-bottom: 32px;
}

.same-line-span {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.returned {
  text-decoration: line-through;
  opacity: 0.4;
}

.device-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.device-input::placeholder {
  color: #e2e2e2;
}

.device-button,
.clearall-button {
  padding: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.device-button {
  border-radius: 0 4px 4px 0;
}

.clearall-button {
  margin-left: 16px;
  border-radius: 4px;
}

.device-input.edit {
  border: 2px solid #149fff;
}

.device-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.device-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.device-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.device-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.device-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.device-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
