body {
  overflow: scroll;
}

.app_footer {
  background: #444;
  color: white;
}

.app_header {
  background: #444;
  color: white;
  height: 8rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border: 0;
}
